
// Color

$medBrown: #ab8c5b;
$lightBrown: #e8cb7e;
$offWhite: #fffdf5;
$breakerBay: #59969c;
$ebonyClay: #243242;

$font: #333;

$primaryFont: 'Bitter', serif;
$secondaryFont: 'Open Sans', sans-serif;
